<section class="content">
  <div class="container-fluide">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <a class="nav-link" data-widget="pushmenu" href="#" role="button">
                <i class="fas fa-bars"></i>
              </a>
              <h3 class="card-title my-auto">DataTable des Games</h3>
            </div>
          </div>
          <!-- /.card-header -->
            <%= render 'admin/shared/table_without_delete', items: @game_sheets, column_names: @column_names, urls_e: @urls_e%>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
  </div>
</section>


<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>