<% content_for :nav, render('layouts/navbar_home') %>

<!-- Hero -->
<section class="section section-header bg-primary overlay-primary text-white pb-11" data-background="../assets/img/team-hero.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-7 text-center">
                <h1 class="display-2 mb-3">Une question ?</h1>        
            </div>
        </div>
    </div>
</section>

<!-- Section -->
        <div class="section bg-light py-0">
            <div class="container mt-n10">
                <div class="row justify-content-center mb-5 mb-lg-6">
                    <div class="col-12 col-md-10 col-lg-8">                        
                        <!-- Contact Card -->
                        <div class="card border-light p-2 p-md-3">
                            <div class="card-body px-0">
                                <div class="row justify-content-center">
                                    <div class="col-12">
                        <div class="p-0 p-md-5">
                            <div class="card-body p-0">
                                <form action="#" method="post">
                                    <!-- Form -->
                                    <div class="form-group">
                                        <label for="name">Nom / Prénom</label>
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><span class="far fa-user-circle"></span></span>
                                            </div>
                                            <input class="form-control" id="name" placeholder="Nom Prénom" type="text" aria-label="contact name input" required>
                                        </div>
                                    </div>
                                    <!-- Form -->
                                    <div class="form-group">
                                        <label for="email">Ton adresse email</label>
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><span class="far fa-envelope"></span></span>
                                            </div>
                                            <input class="form-control" id="email" placeholder="exemple@email.com" type="email" aria-label="contact email input">
                                        </div>
                                    </div>
                                    <!-- Form -->
                                    <div class="form-group">
                                        <label for="message">Ton message</label>
                                        <textarea class="form-control" placeholder="Écris nous ton message ici !" id="message" rows="4"></textarea>
                                    </div>
                                    <!-- End of Form -->
                                    <button type="submit" class="btn btn-block rounded btn-secondary">Envoyer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

