<section class="section-header bg-primary pb-9 pb-md-11 mb-4 mb-lg-6 text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8 text-center">
                        <h1 class="display-2 mb-3">Notre team</h1>
                        <p class="lead">La démocratisation du jeu de société est quelque chose qui nous tient beaucoup à coeur ainsi car elle permet aux gens de se réunir autour d’un jeu physique, réunir tout le monde autour d'une table de jeu. </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-lg pt-0">
            <div class="container mt-n8 mt-lg-n10 z-2">
                <div class="row mt-7">
                    <div class="col-12 col-md-6 col-lg-6 mb-7">
                        <div class="card border-light text-center card-founder">
                            <div class="profile-thumbnail mx-auto mt-n6">
                                <%= image_tag('unnamed.jpg', :alt => 'avatar', class:'rounded-circle card-img-top border-0') %>
                            </div>
                            <div class="card-body">
                                <h2 class="h4 card-title mb-2">Justin</h2>
                                <span class="card-subtitle text-gray font-weight-normal">Co-Founder</span>
                                <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                                    <li>
                                        <a href="#" target="_blank" aria-label="facebook social link" class="icon-facebook mr-3">
                                            <span class="fas fa-envelope"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="twitter social link" class="icon-twitter mr-3">
                                            <span class="fab fa-linkedin"></span>
                                        </a>
                                    </li>                                    
                                </ul>
                                <p class="card-text m-4 text-justify">Toujours partant pour une journée ludique autour d’un gros jeu de stratégie ! Les différentes stratégies de Scythe ou de Terraforming Mars n’ont plus de secret pour moi.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 mb-7">
                        <div class="card border-light text-center card-founder">
                            <div class="profile-thumbnail mx-auto mt-n6">
                                <%= image_tag('unnamed.jpg', :alt => 'avatar', class:'rounded-circle card-img-top border-0') %>
                            </div>
                            <div class="card-body">
                                <h2 class="h4 card-title mb-2">Victor Dautheville</h2>
                                <span class="card-subtitle text-gray font-weight-normal">Web Developer</span>
                                <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                                    <li>
                                        <a href="#" target="_blank" aria-label="facebook social link" class="icon-facebook mr-3">
                                            <span class="fas fa-envelope"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="twitter social link" class="icon-twitter mr-3">
                                            <span class="fab fa-linkedin"></span>
                                        </a>
                                    </li>                                    
                                </ul>
                                <p class="card-text m-4 text-justify">Grand adepte des jeux narratif et d’enquête. Je ne refuse jamais une soirée jeux de société entre amis autour d’une bonne bière.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 mb-0">
                        <div class="card border-light text-center card-founder">
                            <div class="profile-thumbnail mx-auto mt-n6">
                                <%= image_tag('unnamed.jpg', :alt => 'avatar', class:'rounded-circle card-img-top border-0') %>
                            </div>
                            <div class="card-body">
                                <h2 class="h4 card-title mb-2">Pierre Guiraud</h2>
                                <span class="card-subtitle text-gray font-weight-normal">Marketing</span>
                                <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                                    <li>
                                        <a href="#" target="_blank" aria-label="facebook social link" class="icon-facebook mr-3">
                                            <span class="fas fa-envelope"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="twitter social link" class="icon-twitter mr-3">
                                            <span class="fab fa-linkedin"></span>
                                        </a>
                                    </li>                                    
                                </ul>
                                <p class="card-text m-4 text-justify">Tester beaucoup de jeux pour n’en acheter que les pépites, tel est mon credo. Je sais que j’ai fait le bon choix quand je vois mes amis les découvrir avec plaisir !</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 mb-0">
                        <div class="card border-light text-center card-founder">
                            <div class="profile-thumbnail mx-auto mt-n6">
                                <%= image_tag('unnamed.jpg', :alt => 'avatar', class:'rounded-circle card-img-top border-0') %>
                            </div>
                            <div class="card-body">
                                <h2 class="h4 card-title mb-2">Pierre Lejeune</h2>
                                <span class="card-subtitle text-gray font-weight-normal">Web Developer</span>
                                <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                                    <li>
                                        <a href="#" target="_blank" aria-label="facebook social link" class="icon-facebook mr-3">
                                            <span class="fas fa-envelope"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="twitter social link" class="icon-twitter mr-3">
                                            <span class="fab fa-linkedin"></span>
                                        </a>
                                    </li>                                    
                                </ul>
                                <p class="card-text m-4 text-justify">S’il y a des cartes, des ressources, des points à compter (mais pas trop), j’adore ! Particulièrement fan de Deck-Building, de jeux autour de la Fantasy et de jeux à moteur. Et c’est moi qui explique les règles !</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
