<div class="section section-lg bg-soft">
  <div class="container pt-5 text-center">
    <h4>Super ! Vous avez bien souscrit à votre abonnement PulpoLudo 🎉</h4>
    <p>Voici le lien de votre facture : <%= @invoice %>.</p>
    <%= link_to "Revenir sur mon profil", user_path(current_user), class: "btn btn-primary" %>
  </div>
</div>