<div class="section section-lg bg-soft">
  <div class="container pt-5 text-center">
    <h1>Echec</h1>
    <p>Nous n'avons malheureusement pas reçu votre paiement.</p>
    <%= link_to "Revenir sur mon profil", user_path(current_user), class: "btn btn-primary" %>
  </div>
</div>
