<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  
    <h1>Salut <%= @user.full_name %> !</h1>

    <p>
      Nous avons bien reçu tes jeux !! <br>
      Nous avons put cloturer ta command n°<%= @order.id %>.<br>
      Tu peux a nouveau commander 5 jeux.
    <p>

    <p> Bonne journée, <p>

    <p> L'équipe de PulpoLudo <p>
  </body>
</html>