<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  
    <h1>Salut <%= @user.full_name %> !</h1>

    <p>
      Oups, tu as rencontré un problème lors de la validation de ton abonnement. Nous t'invitons a prendre contact directement avec l'equipe de PulpoLudo :
    </p>

    <ul>
        <li>
          contact@pulpoludo.com
        </li>
    </ul>

    <p> Bonne journée, <p>

    <p> L'équipe de PulpoLudo <p>
  </body>
</html>