<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  
    <h1>Salut <%= @user.full_name %> !</h1>

    <p>
      Nous somme heureux de te compter parmis nos abonnés. J'espère que cette abonnement te permetra de découvrir plein de nouvelle expérience ludique !!!
    </p>

    <p>
      Pour rappelle :
    </p>
    <ul>
      <li>
        Tu vas maintenant pouvoir commander 5 jeux sur notre site
      </li>
      <li>
        Grace a ton abonnement, tu peux à tout moment (lorsque que tu pense avoir suffisament profité de ses 5 jeux) nous les renvoyer pour en commander 5 autres.
      </li>
      <li>
        Ton abonnement prend fin le <%= @subscription.clean_end_date%>
      </li>
    </ul>

    <p> Bonne journée,<p>
    <p> L'équipe de PulpoLudo !<p>
  </body>
</html>