<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  
    <h1>Bonjour et bienvenue sur PulpoLudo !</h1>

    <p> Tu viens de créer un compte et nous sommes ravis de pouvoir te compter parmi nos membres.<br>
    Tu vas pouvoir visiter l'ensemble de notre site et voir les nombreux jeux que nous proposons à la location</p>

    <p>Juste encore un clic pour t'abonner et profiter pleinement de notre ludothèque:</p>

    <p><%= link_to "Je m'abonne", @url %></p>

    <p>À bientôt, <br>
    L'équipe PulpoLudo </p>
    
  </body>
</html>