<% content_for :nav, render('layouts/navbar_home') %>

<div class="section section-header section-image bg-tertiary overlay-primary text-white overflow-hidden pb-9" style="background-image: url(<%= asset_path "banner/game-index-background.jpg" =%>);">
      <div class="container z-2">
          <div class="row justify-content-center pt-3">
              <div class="col-12 text-center">
                  <h1 class="mb-5">Trouver vos jeux</h1>
              </div>
          </div>
      </div>
</div>




<% unless current_user.already_subscribed? %>
        <div class="section section-md pt-0">
            <div class="container mt-n7">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-light p-md-2">
                            <%= render 'shared/cta_subscription(main_index)' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
  <div class="container mt-n6">
    <div class="row">
        <div class="row">
          <% @game_sheets.each do |game_sheet| %>
            <%= render 'game_sheet_card_1', game_sheet: game_sheet %>
          <%end%>
        </div>
      </div>
  </div>
</div>

  <%else %>
    <div class="section section-md pt-0">
          <div class="container mt-n5">
                <div class="row">
                    <div class="col-12">
                          <div class="row">
                            <% @game_sheets.each do |game_sheet| %>
                              <%= render 'game_sheet_card_1', game_sheet: game_sheet %>
                            <%end%>
                          </div>
                    </div>
                </div>
          </div>
      </div>

<% end %>





