

<div class="section section-lg bg-soft">
  <div class="container">
    <div class="row pt-5 pt-md-0">

    <div class="col-12 col-md-4 d-none d-lg-block">
      <%= render 'shared/menu_profil' %>  
    </div>

          <!-- Partie à copier -->

      <div class="col-12 col-lg-8">
        <div class="row">
          <div class="col-12 col-sm">
            <div class="card border-light">
              <div class="card-body d-block d-md-flex align-items-center">
                <div class="icon icon-shape icon-md icon-shape-primary rounded-circle mr-3 mb-4 mb-md-0"><span class="fas fa-puzzle-piece"></span></div>
                  <span class="d-block h3 font-weight-normal">
                      Mes jeux
                  </span>                                                
              </div>
              <%= render 'my_games' %>
            </div>
          </div>         
        </div> 
      </div>

    </div>
        
  </div>
</div>
          



