<div class="container d-flex justify-content-center">
    <% unless current_user.already_subscribed? %>
      <div class="col-12 col-sm-6 col-md-4 text-center mb-4 mb-md-0 px-lg-4">
        <%= image_tag "illustrations/easy-transaction.png", class: "my-2", style: "max-height:200px" %>
        <%= link_to "Démarrer mon abonnement →", new_stripe_checkout_path, class: "btn btn-primary my-2", remote: true %>
      </div>
    <% end %>
</div>