
<br><br><br><br>

  <% unless @cart.games.empty? %>
    <% @cart.games.each do |game| %>
      <p>
        <%= game.game_sheet.title %>

      </p>

        <a href="<%= game_path(game.id) %>" class="btn" data-confirm="êtes-vous sur?" data-method="PATCH">Supprimer du panier</a>
   
    <% end %>
  <% else %>
    <p>
      Ton panier est vide
    </p>
  <% end %>
<
<div class="container">
<div class="card border-light p-4 p-md-5 position-relative">
                            <div class="mb-6 d-flex align-items-center justify-content-center">
                                <h2 class="h1 mb-0"><i class="fas fa-cart-arrow-down"></i> Mon panier</h2>
                                
                            </div>
                           
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead class="bg-light border-top">
                                                <tr>
                                                    <th scope="row" class="border-0 text-left">
                                                        Image du jeu
                                                    </th>
                                                    <th scope="row" class="border-0">
                                                        Nom du jeu
                                                    </th>                                         
                                                    <th scope="row" class="border-0">
                                                        Quantité
                                                    </th>
                                                    <th scope="row" class="border-0">
                                                        <%= button_to "supprimer du panier", item, method: :delete, data: { confirm: "Êtes-vous sûr ?" }, class: "btn btn-secondary btn-sm ml-3" %>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row" class="text-left font-weight-bold h6">
                                                        Origin License
                                                    </th>
                                                    <td>
                                                        Extended License
                                                    </td>
                                                    <td>
                                                        999,00
                                                    </td>
                                                    <td>
                                                        1
                                                    </td>
                                                    <td>
                                                        999,00
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="d-flex justify-content-end text-right mb-4 py-4">
                                        <div class="mt-4">
                                            <table class="d-flex justify-content-end table table-clear text-center">
                                                <tbody>
                                                    <tr>
                                                        <td class="left">
                                                            <strong>Frais de port</strong>
                                                        </td>
                                                        <td class="right">10€</td>
                                                    </tr>
                                                    <tr>
                                                      <td colspan="2" class="right"> <button class="btn btn-primary">Passer commande</button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                             </div>
                           </div>
                         </div>
</div>
      
