<p>Bonjour et bienvenue sur PulpoLudo !</p>

<p> Tu viens de créer un compte et nous sommes ravis de pouvoir te proposer notre vaste sélection de jeux dans la ludothèque. Juste encore un clic pour confirmer ton email :</p>

<p><%= link_to 'Valider mon inscription', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>À bientôt, <br>
L'équipe PulpoLudo </p>