<p>Bonjour <%= @email %> !</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous te contactons pour t'avertir que ton email est en train d'être changé à <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous te contactons pour t'avertir que ton email à été changé à <%= @resource.email %> avec succèss.</p>
<% end %>

<p>À bientôt, <br>
L'équipe PulpoLudo </p>