<p>Bonjour <%= @resource.email %> !</p>

<p>Clique sur le lien ci-dessous pour changer ton mot de passe :</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si ce n'était pas toi, ignore cet email.</p>
<p>Ton mot de passe ne changera pas tant que tu n'as cliqué sur le lien. ;)</p>
