<p>Bonjour <%= @resource.email %> !</p>

<p>Ton compte a été verrouillé suite à trop d'échecs de tentatives de connexion.</p>

<p>Clique le lien ci-dessous pour de déverrouiller:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>