<footer class="footer pb-5 bg-primary text-white pt-5 mt-n5">
    <div class="container">
        <div class="row mt-6">
            <div class="col-xl-3 mb-3 mb-xl-0">
                <%= image_tag 'logo/NAVBAR/logo-entier-fond-sombre.png', class: "logo-navbar" %>
                
            </div>
            <div class="col-6 col-xl-2 mb-5 mb-xl-0">
                <span class="h5">A propos</span>
                <ul class="footer-links mt-2">
                    <li><a target="_blank" href="https://themesberg.com/blog">FAQ</a></li>
                    <li><a target="_blank" href="https://themesberg.com/about">Qui sommes nous</a></li>
                    <li><a target="_blank" href="">Nous contacter</a></li>
                </ul>
            </div>
            <div class="col-6 col-xl-3 mb-5 mb-xl-0">
                <span class="h5">Mentions légales</span>
                <ul class="footer-links mt-2">
                    <li><a href="">CVG</a></li>
                    <li><a href="">Mentions légales</a></li>
                    <li><a target="_blank" href="">Charte cookies</a></li>
                    <li><a target="_blank" href="">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-xl-4 mb-5 mb-xl-0">
                <span class="h5">Restons en contact</span>
                <p class="text-muted font-small mt-2">Pour suivre nos nouveautés et actualités.</p>
                <button class="btn icon-box mr-2 mr-lg-2 footer-icon">
                    <i class="fab fa-2x fa-facebook-square"></i>
                </button>
                <button class="btn icon-box mr-2 mr-lg-2 footer-icon">
                    <i class="fab fa-2x fa-linkedin"></i>
                </button>
                <button class="btn icon-box mr-2 mr-lg-2 footer-icon">                    
                    <i class="fab fa-2x fa-instagram-square"></i>
                </button>
            </div>
        </div>
        <hr class="my-3 my-lg-5">
        <div class="row">
            <div class="col mb-md-0">
                
            <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                <p class="font-weight-normal font-small mb-0">Copyright © Pulpo Ludo
                    <span class="current-year">2020</span>.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
